* {
    font-family:Open Sans;
}

p {
    font-size:16px;
    letter-spacing:0.2em;
}

body {
    color:darkslategray;
    max-width:90%;
    margin:auto;
    /*background-image:linear-gradient(to bottom, #d1dee9 , #e4b332);*/
    background-image: url("pexels-pixabay-235985.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: bottom right;
}

a {
    color:limegreen;
}

a:visited {
    color:darkred;
}

blockquote {
    width:50%;
    margin: 80px auto 80px auto;
    font-size:160%;
    background:#ebebe0;
    border-left:dashed 3px darkred;
    padding-left:30px;
    font-style: italic;
    /*padding-top:80px; padding-bottom: 80px;*/
}

.villagers {
    border-left: dashed 3px darkblue;
}

.farmer {
    border-left:dashed 3px darkred;
}

header h2{
    background-color:#ffdb4d;
}

.good {
    text-transform:capitalize;
    color:darkgreen;
}

.bad{
    text-transform: capitalize;
    color:darkred;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 20%;
    border: 3px solid #DCDCDC;
}

tr:nth-child(odd) {
    background: darkgrey;
}

tr:nth-child(even) {
    background: whitesmoke;
}

img {
    float:right;
    margin-left:30px;
}